@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    /* background-color: rgb(62, 61, 61); */
}

body{
    background-color: rgb(36, 35, 35);
}

.box{
    margin-top: 10%;
    max-width: 500px;
    min-height: 400px;
    border: 1px solid #333;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 8px #5a5959; 
}

#heading1{
    font-size: 2.3rem;
    font-weight: 600;
    /* padding: 15px; */
    padding: 25px 50px 40px 50px;
    text-align: center;
}

.para #one
{
    color: #4285F4;
    cursor: pointer;
}
.para #two a{
    color: #4285F4;
    cursor: pointer;
    text-decoration: underline;
}

.form__message{
    color: #d04f4f;
    text-align: center;
}

.form__input-error-message{
    color: #d04f4f;
    text-align: center;
    font-size: 0.9em;
}

/* .form__input--error{
    color: #d04f4f;
    border-color:#d04f4f ;
} */

.form--hidden{
    display: none;
}